@font-face {
  font-family: 'Russo One', sans-serif;
  src: url('../fonts/RussoOne-Regular.ttf');
}
@font-face {
  font-family: 'Play', sans-serif;
  src: url("../fonts/Play-Bold.ttf");
}
body {
  background-color: #07002a;
}
.gnrlmixin {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.gnrldescmixin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .gnrldescmixin {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .gnrldescmixin {
    font-size: 0.9rem;
  }
}
.gnrlcitymixin {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .gnrlcitymixin {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .gnrlcitymixin {
    font-size: 1rem;
  }
}
.btnmixin {
  border: 2px solid white;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #07002a;
  margin-top: 60px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  transition: ease-in-out 0.3s;
}
.btnmixin:hover {
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.25), 0 15px 15px rgba(255, 255, 255, 0.22);
  transform: scale(1.1, 1.1);
  transition: ease-in-out 0.3s;
}
.general {
  height: 99vh;
  overflow: hidden;
}
.general__wrap {
  display: flex;
  flex-direction: column;
  height: 99vh;
}
.general__popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  color: white;
  font-family: 'Play', sans-serif;
  font-weight: bolder;
}
.general__popup span {
  font-size: 2.5rem;
}
.general__btnYes {
  border: 2px solid white;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #07002a;
  margin-top: 60px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  transition: ease-in-out 0.3s;
}
.general__btnYes:hover {
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.25), 0 15px 15px rgba(255, 255, 255, 0.22);
  transform: scale(1.1, 1.1);
  transition: ease-in-out 0.3s;
}
.general__btnNo {
  border: 2px solid white;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #07002a;
  margin-top: 60px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  transition: ease-in-out 0.3s;
}
.general__btnNo:hover {
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.25), 0 15px 15px rgba(255, 255, 255, 0.22);
  transform: scale(1.1, 1.1);
  transition: ease-in-out 0.3s;
}
.general__findblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.general__findblock input {
  border-radius: 5px;
  width: 450px;
  height: 40px;
  font-size: 1.4rem;
  padding-left: 15px;
  margin-top: 50px;
  transition: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__findblock input {
    width: 50%;
    margin-top: 0;
    transition: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 540px) {
  .general__findblock input {
    width: 80%;
    transition: ease-in-out 0.3s;
  }
}
.general__findblock button {
  border: 2px solid white;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: #07002a;
  margin-top: 60px;
  width: 220px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: white;
  transition: ease-in-out 0.3s;
}
.general__findblock button:hover {
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.25), 0 15px 15px rgba(255, 255, 255, 0.22);
  transform: scale(1.1, 1.1);
  transition: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__findblock button {
    width: 180px;
    height: 45px;
    margin-top: 30px;
    font-size: 1rem;
  }
}
.general__showblock {
  display: flex;
  height: 70%;
  color: white;
  font-family: 'Russo One', sans-serif;
}
.general__datablock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.general__weather {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__weatherdesc {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__weatherdesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__weatherdesc {
    font-size: 0.9rem;
  }
}
.general__icon {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__icon {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__icon {
    font-size: 1rem;
  }
}
.general__icon img {
  width: 60px;
  height: 60px;
}
.general__name {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__namedesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__namedesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__namedesc {
    font-size: 0.9rem;
  }
}
.general__nameCity {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__nameCity {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__nameCity {
    font-size: 1rem;
  }
}
.general__temperaturs {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__tempdesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__tempdesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__tempdesc {
    font-size: 0.9rem;
  }
}
.general__temp {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__temp {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__temp {
    font-size: 1rem;
  }
}
.general__pressure {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__pressdesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__pressdesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__pressdesc {
    font-size: 0.9rem;
  }
}
.general__press {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__press {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__press {
    font-size: 1rem;
  }
}
.general__humidity {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__humiddesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__humiddesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__humiddesc {
    font-size: 0.9rem;
  }
}
.general__humid {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__humid {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__humid {
    font-size: 1rem;
  }
}
.general__wind {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__winddesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__winddesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__winddesc {
    font-size: 0.9rem;
  }
}
.general__wnd {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__wnd {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__wnd {
    font-size: 1rem;
  }
}
.general__clouds {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__cloudsdesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__cloudsdesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__cloudsdesc {
    font-size: 0.9rem;
  }
}
.general__clds {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__clds {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__clds {
    font-size: 1rem;
  }
}
.general__visibility {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.general__vsbltdesc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  font-size: 1.2rem;
  transform: ease-in-out 0.3s;
}
@media screen and (max-width: 720px) {
  .general__vsbltdesc {
    font-size: 1rem;
    transform: ease-in-out 0.3s;
  }
}
@media screen and (max-width: 480px) {
  .general__vsbltdesc {
    font-size: 0.9rem;
  }
}
.general__vsblt {
  display: flex;
  justify-content: center;
  width: 270px;
  font-size: 1.7rem;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 720px) {
  .general__vsblt {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 480px) {
  .general__vsblt {
    font-size: 1rem;
  }
}
