.gnrlmixin {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.gnrldescmixin {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.gnrlcitymixin {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general {
  background-color: azure;
  height: 99vh;
}
.general__wrap {
  display: flex;
  flex-direction: column;
  height: 99vh;
}
.general__findblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.general__findblock input {
  border-radius: 5px;
  width: 350px;
  height: 30px;
  font-size: 1.2rem;
  padding-left: 15px;
}
.general__findblock button {
  font-size: 1rem;
  margin-top: 30px;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  outline: none;
}
.general__showblock {
  display: flex;
  height: 70%;
}
.general__datablock {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.general__name {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__namedesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__nameCity {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__temperaturs {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__tempdesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__temp {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__pressure {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__pressdesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__press {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__humidity {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__humiddesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__humid {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__wind {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__winddesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__wnd {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__clouds {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__cloudsdesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__clds {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__visibility {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.general__vsbltdesc {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 1.3rem;
}
.general__vsblt {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.general__animationsblock {
  border: 1px solid red;
  height: 100%;
  width: 50%;
}
