@import "var.less";

.general {
  background-color: azure;
  height: 99vh;
  &__wrap {
    border: @border;
    display: flex;
    flex-direction: column;
    height: 99vh;
  }
  &__findblock {
    border: @border;
    height: 30%;
  }
  &__showblock {
    border: @border;
    display: flex;
    height: 70%;
  }
  &__datablock {
    border: @border;
    height: 100%;
    width: 50%;
  }
  &__animationsblock {
    border: @border;
    height: 100%;
    width: 50%;
  }

}